@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* for entire page */
/* define color in color pallete to maintain consistency */
:root {
    --primary-color: rgba(255,122,0.3);
    --light-gray: #9CA3AF;
    --off-white: #E5E7EB;
    --footer-dark-black: #222;
    --navbar-light-black: #222222db;
    --button-dark-primary-shade: #2c3c44f5;
}

html {
    font-family: 'Inter','ui-sans-serif','system-ui','-apple-system','BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial',
    'Noto Sans','sans-serif','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    line-height: 1.5;
}

body {
    font-family: inherit;
    line-height: inherit;
    margin: 0px;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    margin: 2rem 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}
/* container */
.container {
    padding: 1rem 1.5rem;
}

/* rem: relative to font size with zoom-in and zoom-out. (preffered) */

.container-center {
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    /* auto make it center as per screen */
}

.container-inline {
    /* display: block;
    padding: 0rem 0.5rem; */
    box-sizing: border-box;
    display: inline-block;
    height: 150px;
    text-align: center;
    width: 32%;
    margin: .1rem;
}

/* links */
.link {
    box-sizing: border-box;
    text-decoration: none;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem 0.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.link-primary-dark {
    background-color: var(--button-dark-primary-shade);
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.link-primary:hover {
    background-color: white;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.link-secondary:hover {
    background-color: var(--primary-color);
    color: white
}

.link-active {
    font-weight: bold;
}
/* text */
.text-primary {
 color: var(--primary-color);
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(115,115,115,var(--tw-text-opacity));
}

.text-black {
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
}

.antialiased {
    -webkit-font-smoothing: antialiased;
}

p {
    --tw-text-opacity: 1;
    color: rgba(115,115,115,var(--tw-text-opacity));
}

/* bullets */
.list-non-bullet {
    list-style: none;
}

.list-bullet {
    text-align: left;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0rem;
}
/* avatar effect */
.avatar {
  animation: pulse 2s infinite;
  border-radius: 50%
}
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(255,122,0.3);
  }
  to {
    box-shadow: 0 0 0 120px rgba(255, 122, 0, 0);
  }
}

/* navigation */
.navigation {
    background-color: var(--navbar-light-black);
    color: white;
    padding: 0.5rem 0.5rem;
    /* filter: blur(1px); */
    position: fixed;
    width: 100%;
    /* border-radius: 0.3rem; */
    /* border-top-left-radius: 1rem; */
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation .nav-pills {
    text-align: center;
    display: inline;
    padding-inline-start: 0px;
}

.navigation .nav-pills-left {
    display: inline;
    text-align: left;
}
/* .nav-pills :hover {
    background-color: rgb(150, 25, 25);
} */
.navigation .link {
    color: white;
    display: inline;
}

/* header */
.hero {
    padding: 0.5rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 200px;
    margin: auto;
    display: block;
    border-radius: 7rem;
}

.hero .hero-land {
    max-width: 200px;
    margin: auto;
    display: block;
    /* width: 100%; */
}

.hero .hero-heading {
    padding-top: 1rem;
    text-align: center;
    color: var(--light-gray);
}

.hero .hero-heading-typed {
    text-align: center;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: #493f54;
    
}
.hero .hero-heading-typed .typed {
    color: var(--primary-color);
    display: inline;
    /* flex-direction: row; */
    justify-content: center;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.hero #home {
    background: url(./images/blog_land.jpg) repeat scroll center center / cover;
    height: 65vh;
    width: 100%;
    background-position-x: right;
}

.hero .header-content {
    height: 100vh;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--light-gray);
}

.hero h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    /* text-transform: uppercase; */
    color: #fff;
}

.hero h5 {
    color: white;
    font-weight: bold;
}

/* section */
.section {
    padding: 1.5rem;
}

.section h3 {
    text-align: center;
    margin: 20px;
    position: relative;
}

.ow {
    background-color: var(--off-white);
}

/* footer */
.footer {
    background-color: var(--footer-dark-black);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    /* border-top-right-radius: 1rem; */
}

.footer .link {
    color: white
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .footer-heading {
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

/* dark mode */
.dark-mode {
    background-color: black;
    color: white;
  }

/* background */
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255,255,255,var(--tw-bg-opacity));
}

/* flex custom */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.mt-16 {
    margin-top: 4rem;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mb-3 {
    margin-bottom: .75rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.transition {
    transition-property: "background-color", "border-color", "color", "fill", "stroke", "opacity",
    "box-shadow", "transform", "filter", "backdrop-filter", "-webkit-backdrop-filter";
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(115,115,115,var(--tw-text-opacity))
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

a {
    text-decoration: inherit;
    color: inherit;
}

/* .mb-auto {
    color: inherit;
} */

/* .divide-y {
    
} */

/* responsive iframe */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}